* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.header {
  background-image: url("../img/sample2.jpg");
  background-size: cover;
  height: 100vh;
}
.topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.logbtn,
.subtn {
  color: white;
  border: 0px;
  background-color: Transparent;
  cursor: pointer;
  justify-content: space-between;
  font-size: 19px;
  padding: 15px;
}

.words {
  color: white;
  font-size: 19px;
  letter-spacing: 7px;
  text-transform: uppercase;
}
.heads {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px;
}
.btnContainer {
  display: flex;
  justify-content: space-around;
}
.btns {
  border: 2px solid white;
  cursor: pointer;
  background: rgba(6, 36, 7, 0.39);
  padding: 20px 90px;
  color: white;
}
.nameHeader h1 {
  text-transform: uppercase;
  color: white;
  letter-spacing: 7px;
  font-size: 60px;
}
.addWords h3 {
  color: white;
  font-size: 18px;
}

main #frstarticle {
  background-color: #f3f3f3;
  padding-bottom: 65px;
}
main #frstarticle h3 {
  text-align: center;
  font-weight: 100;
  margin-bottom: 40px;
}
main #frstarticle .information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #frstarticle .information .photo {
  position: relative;
  width: 50%;
  height: 290px;
  background: url(../img/sample.jpg) no-repeat top/cover;
  display: flex;
  align-items: flex-end;
  padding: 20px;
}
main #frstarticle .information .photo p {
  color: #fff;
  font-weight: 100;
  font-size: 14px;
}
main #frstarticle .information .photo .like {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 2px solid #fff;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  cursor: pointer;
}
main #frstarticle .information .paragers {
  text-align: center;
  width: 50%;
  padding: 20px 0 0 90px;
  font-size: 14px;
}
main #frstarticle .information .paragers p {
  margin-bottom: 5%;
}
main .things {
  padding: 30px 0 70px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .things .this {
  width: 320px;
  padding: 20px;
  font-size: 14px;
  box-shadow: 0 3px 9px -2px;
}
main .things .this .thisbtn {
  width: 100%;
  border: none;
  color: #fff;
  background-color: #097774;
  padding: 5px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}
main #subscribe {
  background-color: #f3f3f3;
  padding: 45px 0;
}
main #subscribe .subscribe-text {
  font-size: 14px;
}
main #subscribe .subscribe-form {
  display: flex;
  justify-content: flex-end;
  padding-top: 25px;
}
main #subscribe .subscribe-form label {
  font-size: 20px;
}
main #subscribe .subscribe-form input {
  margin: 0 15px;
}

input {
  width: 150px;
  padding: 10px;
  border: 1px solid #000;
  background-color: #f3f3f3;
}

.btn-subscribe {
  border: none;
  color: #fff;
  background-color: #097774;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}
footer {
  padding: 110px 40px 0;
}
footer .paragraphs {
  display: flex;
  justify-content: space-between;
}
footer .footer-information > div {
  margin-right: 15px;
}

footer .paragraphs > div:last-child {
  margin-left: 250px;
  width: 55%;
}

footer .paragraphs > div h2 {
  font-size: 16px;
  margin-bottom: 15px;
}

footer .paragraphs > div p {
  color: #9e9e9e;
  font-size: 14px;
}

footer .paragraphs > div p span {
  color: #f3f3f3;
}

footer .footer-navigation {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px;
  border-top: 1px solid #f3f3f3;
  margin-top: 100px;
}

footer .footer-navigation p {
  color: #9e9e9e;
  font-size: 14px;
}

footer .footer-navigation nav a {
  text-decoration: none;
  margin-left: 20px;
  color: #000000;
  font-size: 14px;
}
.e-mailo {
  background: #e8e8e8;
  border: 1px solid #000000;
  color: #000000;
  font-size: 14px;
  padding: 5px 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.subsic {
  background: #097774;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 10px;
}

footer form .e-mailo,
footer form .subsic {
  margin: 5px 10px 0 0;
}
