* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.header {
  background-image: url("../img/sample2.jpg");
  background-size: cover;
  height: 100vh;
}
.topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.logbtn,
.subtn {
  color: white;
  border: 0px;
  background-color: Transparent;
  cursor: pointer;
  justify-content: space-between;
  font-size: 19px;
  padding: 15px;
}

.words {
  color: white;
  font-size: 19px;
  letter-spacing: 7px;
  text-transform: uppercase;
}
.heads {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px;
}
.btnContainer {
  display: flex;
  justify-content: space-around;
}
.btns {
  border: 2px solid white;
  cursor: pointer;
  background: rgba(6, 36, 7, 0.39);
  padding: 20px 90px;
  color: white;
}
.nameHeader h1 {
  text-transform: uppercase;
  color: white;
  letter-spacing: 7px;
  font-size: 60px;
}
.addWords h3 {
  color: white;
  font-size: 18px;
}
.main {
  background-color: #f3f3f3;
}
.main__aside-txt {
  margin-right: auto;
  background-color: #f3f3f3;
  font-size: 12px;
  padding: 70px 0 0 30px;
}

.careers {
  margin-top: 30px;
  padding: 0 30px 30px;
}

.careers__title {
  text-align: center;
  font-weight: normal;
  margin: 0 0 20px 0;
}

.article {
  justify-content: space-between;
}

.article__img {
  background-image: url("../img/sample.jpg");
  background-size: cover;
  width: 46%;
  position: relative;
  background-color: #0000002c;
  background-blend-mode: multiply;
}

.img-capture,
.likes-box {
  color: #ffffff;
  font-size: 10px;
  position: absolute;
}

.likes-box {
  border: 1px solid #f3f3f3;
  padding: 5px;
  top: 10px;
  right: 10px;
  background-color: #0000003f;
}

.likes-box span {
  margin-left: 5px;
}

.img-capture {
  bottom: 10px;
  left: 10px;
  color: #f3f3f3;
}

.img-capture span {
  font-weight: bold;
  color: #ffffff;
}
