* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.header {
  background-image: url("../img/sample2.jpg");
  background-size: cover;
  height: 100vh;
}
.topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.logbtn,
.subtn {
  color: white;
  border: 0px;
  background-color: Transparent;
  cursor: pointer;
  justify-content: space-between;
  font-size: 19px;
  padding: 15px;
}

.words {
  color: white;
  font-size: 19px;
  letter-spacing: 7px;
  text-transform: uppercase;
}
.heads {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px;
}
.btnContainer {
  display: flex;
  justify-content: space-around;
}
.btns {
  border: 2px solid white;
  cursor: pointer;
  background: rgba(6, 36, 7, 0.39);
  padding: 20px 90px;
  color: white;
}
.nameHeader h1 {
  text-transform: uppercase;
  color: white;
  letter-spacing: 7px;
  font-size: 60px;
}
.addWords h3 {
  color: white;
  font-size: 18px;
}
.block {
  width: 100%;
  height: 35vh;
  color: aliceblue;
  background: linear-gradient(
    9deg,
    #f3f3f3 0%,
    #f3f3f3 50%,
    #000 51%,
    #000000 71%,
    #000000 100%
  );
  display: block;
}
.sex p {
  margin: 0;
}
.sex .left {
  padding: 0 4%;
  text-align: left;
  width: 50%;
  float: right;
}
.sex .right {
  padding: 0 2%;
  position: relative;
  text-align: left;
  width: 25%;
  color: #000;
  top: 50%;
}
.sex .right span {
  font-weight: bold;
}
