@mixin headerButton {
  display: flex;
  padding: 15px 60px;
  text-decoration: none;
  background-color: #01acac;
  color: white;
  font-size: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $contentBackground;
}

main {
  margin: 0 auto;
  width: 960px;
  article {
    background-color: $bgArticle;
  }
}

header {
  background-image: $bgImg;
  background-position: center;
  background-size: cover;
  height: 100vh;
  .btn-top {
    @include headerButton;
    left: 41%;
    position: absolute;
    top: 8.9%;
  section {
    color: $aColor;
    text-align: center;

  }
  .logo {
    float: left;
    width: 20%;
    img {
      width: 100%;
      height: auto;
    }
  }
  nav {
    float: right;
    a {
      color: $aColor;
      font: $fonts;
      text-transform: uppercase;
      text-decoration: none;
      padding: 20px 177px 20px 177px;
      display: inline-block;
    }

    a:not(:last-of-type) {
      border-width: 0 2px 0 0;
      border-style: solid;
      border-color: $abdcolor;
    }
  }
}
#about img {
  width: 100%;
}
