$contentBackground: #660;
$bgArticle: #ffffff;
$fonts: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;
$bgImg: url("../img/header_background_v2.jpg");
$aColor: #f55722;
$abdcolor: #cfd8dc;
