$contentBackground: #fff;
$bgArticle: #efefef;
$fonts: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
$bgImg: url("../img/header_background_v1.jpg");
$aColor: white;
$abdcolor: #607d8b;
$btnColor: #01acac;
$lineColor: $#6C8794;
